.loket-height{
    height: 300px;
}

.text-verify-loket{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    color: rgb(94, 94, 94);
}

.antrian-container{
    height: 100px;
    width: 300px;
}

.font-counter{
    font-size: 4rem;
}

.font-sub-loket{
    font-size: 0.8rem;
}

.sub-loket-counter{
    border: 2px solid rgb(177, 148, 237);
}

.border-count-sub-loket{
    border-right: 1px solid rgb(177, 148, 237);
}

.border-date{
    border : 2px solid rgb(237, 237, 237);
    padding : 6px;
    padding-left: 8px;
}