.height-100 {
  height: 100vh;
}

#background-home {
  background: url(assets/images/sekolah.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.all-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-shadow {
  text-shadow: 1px 1px black;
}

@media (min-width: 576px) {
  .big-text {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .big-text {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .big-text {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .big-text {
    font-size: 3.5rem;
  }
}

@media (min-width: 1400px) {
  .big-text {
    font-size: 4rem;
  }
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
